.back{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contenedor{
    flex-wrap: wrap;
  }
.login{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: aquamarine;
}
.CellContent{
    color: aquamarine;
}